@*@model IEnumerable<MyBookStore.Models.Purchase>

    @{
        ViewBag.Title = "PurchaseList";
    }

    <h2>List of Book Purchases</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

    @foreach (var item in ViewBag.Purchases) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseId }) |
                @Html.ActionLink("Details", "Details", new { id=item.PurchaseId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseId })
            </td>
        </tr>
    }

    </table>*@


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "List of Purchases";
}

<h2><b>Список купивших книги</b></h2>
<p></p>
<p></p>
<div>
    <h3></h3>
    <table>
        <tr class="header">
            <td><p>Имя покупателя</p></td>
            <td><p>Адрес покупателя</p></td>
            <td><p>Id книги</p></td>
            <td><p>Дата покупки</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Purchases)
        {
            <tr>
                <td><p>@b.Person</p></td>
                <td><p>@b.Address</p></td>
                <td><p>@b.BookId</p></td>
                <td><p>@b.Date</p></td>
                @*<td><p>@b.PurchaseId</p></td>*@
                @*<td><p><a href="/MyBookStore/Buy/@b.Id">Купить</a></p></td>*@
            </tr>
        }
    </table>
</div>
